/*--------Carousel-------*/

#myCarousel {
  height: 470px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
}



/*--------Introduction-------*/



/*--------Menu-------*/

.categories {
  padding: 50px 0;
}

.categories h3 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

/*--------MediaQueries-------*/

@media (max-width: 480px) {}

@media (min-width: 768px) and (max-width: 991px) {}
