<div ng-controller="HomeController">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="homeslide in homeslides" active="homeslide.active">
        <img class="img-responsive" ng-src="{{homeslide.image}}">
      </slide>
    </carousel>
  </div>

  <div class="introduction-background">

  </div>

  <div class="introduction container">
    <h1>
      Creativity and Passion for Baking
    </h1>
  </div>

  <div class="menu-categories container">
    <div class="row">
      <div class="col-md-4 space" ng-repeat="menu in menus">
        <img class="img-responsive" ng-src="{{ menu.image }}" />
        <h3>{{ menu.name }}</h3>
        <p>{{ menu.description }}</p>
        <a href="#!/ourmenu">See more</a>
      </div>
    </div>
  </div>

  <div class="service-background">
    <div class="service-overlay"></div>
    <div class="service-slogan">
      <h1>Lets us help</h1>
      <h1>your next Party</h1>
    </div>
  </div>

  <div class="service-categories container">
    <h1>Relax and let sweet treats comfort you</h1>
  </div>

  <div class="service-categories container">
    <div class="row">
      <div class="col-md-4 space" ng-repeat="service in services">
        <img class="img-responsive" ng-src="{{ service.image }}" />
        <h3>{{ service.name }}</h3>
        <p>{{ service.description }}</p>
        <a href="#!/ourservices">See more</a>
      </div>
    </div>
  </div>
</div>
